PORT=3002

DATABASE_URL=postgresql://shopsweetuser:62xwXT5WLUqMTgeRH0mIp7YWIcEo3nWH@dpg-d8cqu33bc2fs738c6ieg-a.oregon-postgres.render.com/shopsweet

JWT_SECRET=shopsweet_secret

# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=465
# SMTP_USER=your-gmail-username@gmail.com
# SMTP_PASS=your-app-password
# SMTP_FROM=ShopSweet <no-reply@shopsweet.com>
# SMTP_REPLY_TO=support@shopsweet.com
# SMTP_ADMIN_EMAIL=your-gmail-username@gmail.com
# SMTP_SECURE=true